/* Banner */

#banner {
    background-color: #000000;
    color: #ffffff;
    padding: 4em 0 3em 0;
    font-size: 12px;
    text-align: center;
}

ul.actions {
	list-style: none;
	padding-left: 0;
    font-family:'public Market';
    color: #ffffff;
}

li {
    display: inline;
}

a{
    color: #ffffff;
    text-decoration: none;
}

#footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1px;
    font-size: 6px;
    text-align: right;
    font-family:'public Market';
}

