/* Banner */

#banner {
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

body {
    background-image: url("images/background.gif");
    background-color: #808080;
}

ul.actions {

	padding-left: 0;
}

ul.actions li {
    display:inline;
    font-size: 12px;
}

ul.actions li a{
    list-style: none;
    font-family:'public Market';
    color: #ffffff;
}

ul.actions li a:hover {
    color: blue;
}

a{
    background-color: #000000; 
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
}


#footer {
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    font-size: 10px;
    text-align: center;
    font-family:'public Market';
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
    width: 100%;
}

#mainBody {
    background-color: #ffffff;
    color: #000000;
    font-family: Helvetica;
}

/* Feature */

	.features {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		margin-bottom: 2em;
      align-content: center;
	}

	.feature {
		padding: 2em 2em 0.1em 2em;
		border-style: solid;
		border-width: 1px;
		margin-left: -1px;
		margin-top: -1px;
		width: 33.33333%;
	}

		.feature .fa {
			font-size: 2.8em;
			margin-bottom: 0.7em;
		}

		@media screen and (max-width: 1280px) {

			.feature {
				padding: 2em 1.5em 0.1em 1.5em;
			}

		}

		@media screen and (max-width: 736px) {

			.feature {
				padding: 2em 1em 0.1em 1em;
				width: 50%;
			}

		}

		@media screen and (max-width: 480px) {

			.feature {
				padding: 2em 0.5em 0.1em 0.5em;
				width: 100%;
			}

		}

	.feature {
		border-color: #e3e3e3;
	}

		.feature .fa {
			color: #00cdcf;
		}

#fullcontent {
    position:fixed;
    width: 100% !important;
    height: 1000px !important;
    background-color: black;

}

#FrontPageList {
    font-family: Helvetica;
    font-size: 20px;

}